<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{basics.name}}</title>
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<style>
		body {
			font-size: 62.5%;
			font-family: 'Avenir', 'Source Sans Pro', sans-serif;
			color: #13242A;
			padding: 40px;
		}

		.nobreak {
			float: none;
			position: relative;
			page-break-inside: avoid !important;
			margin-top: 30px;
		}

		#contact {
			float: right;
			margin-top: 10px;
			text-align: right;
		}

		.picture {
			border-radius: 50%;
			margin: 0 auto;
		}

		a {
			color: #2197A8;
			text-decoration: none;
		}

		a:visited {
			color: #2197A8;
		}

		a:hover {
			color: #2197A8;
			text-decoration: underline;
		}

		.header {
			font-size: 1.4em;
			margin-bottom: 40px;
		}

		.profile {
			font-family: 'Avenir', 'Source Sans Pro', sans-serif;
			font-size: 1em;
			margin: 0;
		}

		.label {
			margin-top: 0;
			margin-bottom: 1em;
		}

		.date {
			display: table-cell;
			font-size: 1em;
			width: 150px;
		}

		.info {
			display: table-cell;
		}

		.fa {
			font-size: 1em;
			margin-right: 5px;
			width: 20px;
		}

		.left {
			font-size: 1em;
		}

		.main {
			margin: 0 auto;
		}

		h1 {
			font-size: 2em;
			margin: 0;
		}

		h2 {
			font-size: 1.4em;
			font-weight: bold;
			text-transform: uppercase;
		}

		h3 {
			font-size: 1.5em;
			margin-bottom: 0;
		}

		h4 {
			font-size: 1.3em;
			margin: 0;
			font-weight: normal;
		}

		.skills {
			margin-bottom: 10px;
		}

		.indent {
			margin-left: 20px;
		}

		p {
			font-family: 'Avenir', 'Source Sans Pro', sans-serif;
			margin: 0;
		}

		li {
			font-family: 'Avenir', 'Source Sans Pro', sans-serif;
			font-size: 1.5em;
		}

		.keywords {
			border: 1px solid #13242A;
			border-radius: 40px;
			padding: 2px 10px;
			font-size: 1.1em;
			margin-left: 10px;
			margin-bottom: 5px;
			display: inline-block;
		}

		blockquote {
			margin: 2em 10px;
			padding: 1em 10px;
			border-left: 10px solid #edf0f5;
			font-family: 'Avenir', 'Source Sans Pro', sans-serif;
			font-size: 1.5em;
		}

		blockquote .name {
			font-weight: bold;
			font-family: 'Avenir', 'Source Sans Pro', sans-serif;
		}

		.responsive-show {
			display: none;
		}

		.employment-gap {
			margin-top: 10px;
			margin-left: 150px;
		}

		section.background-info {
			margin-bottom: 10px;
		}

		@media (max-width: 1000px) {}

		@media (max-width: 500px) {
			.responsive-hidden {
				display: none;
				visibility: hidden;
			}
			.responsive-show {
				display: inline;
				visibility: visible;
			}
		}
	</style>
	<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
</head>

<body>
	<div class="header">
		<div id="contact">
			{{#emailBool}}
			<div class="contact-header">
				<a href="mailto:{{basics.email}}" target="_blank">{{basics.email}}</a>
			</div>
			{{/emailBool}} {{#phoneBool}}
			<div class="contact-header">
				{{basics.phone}}
			</div>
			{{/phoneBool}}
		</div>
		<h1>{{basics.capitalName}}</h1>
		<h3 class="label"></h3>
		<div class="contact-header">
			<b>{{basics.capitalLabel}}</b>, {{basics.location.city}}, {{basics.location.region}}
		</div>
	</div>
	<div class="main">
		<div id="skills" class="nobreak">
			{{#skillsBool}}
			<h2>Clinical Specialties</h2>
			<div class="indent">
				{{#skills}}
				<h3 class="skills">{{name}}</h3>
				{{#experience}}
				<span class="keywords">{{experience}}</span>
				{{/experience}} {{#patient_population}}
				<span class="keywords">{{patient_population}}</span>
				{{/patient_population}} {{/skills}}
				<br/> {{/skillsBool}}
			</div>
		</div>


		{{#licensesBool}}
		<div id="licenses" class="nobreak">
			<h2>LICENSES & CERTIFICATIONS</h2>
			<div class="indent">

				{{#licenses}}
				<h3>{{title}}, {{state}}</h3>
				<h4>Number: {{number}}</h4>
				<h4>Expires: {{expires}}</h4>
				{{#compact}}
				<h4>Compact:
					<i class="fa fa-check"></i>
				</h4>
				{{/compact}} {{/licenses}} {{#certifications}}
				<h3>{{name}}</h3>
				<h4>Issuing Body: {{issuing_body}}</h4>
				<h4>Expires: {{expires}}</h4>
				{{/certifications}}
			</div>
		</div>

		{{/licensesBool}} {{#workBool}}
		<div id="work" class="nobreak">
			<h2>WORK EXPERIENCE</h2>
			<div class="indent">
				{{#work}} {{#gap_reason}}
				<div class="employment-gap">
					<h4>{{gap_reason}} - {{gap_explanation}}</h4>
				</div>
				{{/gap_reason}}
				<div class="job">
					<div class="date">
						<h4>{{startDate}} - {{endDate}}</h4>
					</div>
					<div class="info">
						<h3>{{position}}, {{company}}</h3>
						<h4>{{location}}</h4>
						{{#unit}}
						<h4>Unit: {{unit}}</h4>{{/unit}}
						<h4>
							Charge:
							<i class="fa fa-check left"></i>
						</h4>
						<p>{{summary}}</p>
					</div>
				</div>
				{{/work}}
			</div>
		</div>
		{{/workBool}} {{#educationBool}}
		<div id="education" class="nobreak">
			<h2>EDUCATION</h2>
			<div class="indent">
				{{#education}}
				<div class="school">
					<div class="date">
						<h4>{{endDateMonth}}{{endDateYear}}</h4>
					</div>
					<div class="info">
						<h3>{{studyType}}, {{institution}}</h3>
						{{#gpaBool}}
						<h4> GPA: {{gpa}}</h4>
						{{/gpaBool}}
					</div>
				</div>
				{{/education}}
			</div>
		</div>
		{{/educationBool}} {{#researchesBool}}
		<div id="research" class="nobreak">
			<h2>RESEARCH</h2>
			<div class="indent">
				{{#researches}}
				<div class="research">
					<div class="date">
						<h4>{{start_on}} - {{end_on}}</h4>
					</div>
					<div class="info">
						<h3>{{org_name}}</h3>
						<h4>{{location}}</h4>
						<h4>{{summary}}</h4>
					</div>
				</div>
				{{/researches}}
			</div>
		</div>
		{{/researchesBool}} {{#volunteerBool}}
		<div id="volunteer" class="nobreak">
			<h2>VOLUNTEER WORK</h2>
			<div class="indent">
				{{#volunteer}}
				<div class="volunteer">
					<div class="date">
						<h4>{{startDate}} - {{endDate}}</h4>
					</div>
					<div class="info">
						<h3>{{organization}}</h3>
						<h4>{{summary}}</h4>
					</div>
				</div>
				{{/volunteer}}
			</div>
		</div>
		{{/volunteerBool}} {{#awardsBool}}
		<div id="awards" class="nobreak">
			<h2>AWARDS</h2>
			<div class="indent">
				{{#awards}}
				<div class="award">
					<div class="date">
						<h4>{{month}} {{year}}</h4>
					</div>
					<div class="info">
						<h3>{{title}} - {{awarder}}</h3>
						<h4>{{summary}}</h4>
					</div>
				</div>
				{{/awards}}
			</div>
		</div>
		{{/awardsBool}}{{#technologiesBool}}
		<div id="techonologies" class="nobreak">
			<h2>TECHNOLOGIES</h2>
			<div class="indent">
				{{#technologies}}
				<h3>{{technology}}{{#proficiency}}, {{proficiency}} {{/proficiency}}
				</h3>
				{{/technologies}}
			</div>
		</div>
		{{/technologiesBool}} {{#languagesBool}}
		<div id="languages" class="nobreak">
			<h2>LANGUAGES</h2>
			<div class="indent">
				{{#languages}}
				<h3>{{language}}{{#fluency}}, {{fluency}} {{/fluency}}
				</h3>
				{{/languages}}
			</div>
		</div>
		{{/languagesBool}} {{#backgroundBool}}
		<div id="background-questions" class="nobreak">
			<h2>Background Questions</h2>
			<div class="indent">
				<section class="background-info">

					<h4>
						<i>Have you ever been convicted of a crime other than a minor traffic violation? - {{background_questions.crime_conviction}}</i>
					</h4>
					{{#background_questions.crime_conviction_explanation}}
					<h4 class="indent">{{background_questions.crime_conviction_explanation}}</h4>
					{{/background_questions.crime_conviction_explanation}}
				</section>

				<section class="background-info">
					<h4>
						<i>Have you ever been named as a defendant in a professional liability action? - {{background_questions.liability_defendant}}</i>
					</h4>
					{{#background_questions.liability_defendant_explanation}}
					<h4 class="indent">{{background_questions.liability_defendant_explanation}}</h4>
					{{/background_questions.liability_defendant_explanation}}
				</section>

				<section class="background-info">
					<h4>
						<i>Has action ever been taken against your professional license? - {{background_questions.license_action}}</i>
					</h4>
					{{#background_questions.license_action_explanation}}
					<h4 class="indent">{{background_questions.license_action_explanation}}</h4>
					{{/background_questions.license_action_explanation}}
				</section>
			</div>

		</div>

		{{/backgroundBool}}
	</div>
</body>

</html>
